<div id="<%= dom_id notificacao %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= notificacao.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tipo:</strong>
    <%= notificacao.tipo %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Integer:</strong>
    <%= notificacao.integer %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Text:</strong>
    <%= notificacao. text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Text:</strong>
    <%= notificacao.text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= notificacao. status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Integer:</strong>
    <%= notificacao.integer %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sender:</strong>
    <%= notificacao. sender_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Integer:</strong>
    <%= notificacao.integer %>
  </div>
</div>
