<% content_for :title, "Grupos" %>

<div class="w-full">
  <div class="flex justify-between items-center pl-12 pr-12">
    <h1 class="font-bold text-4xl text-center">Grupos</h1>
    <%= puts current_user %>
    <% if current_user.root? %>
      <%= link_to "Criar grupo", new_grupo_path, class: "rounded-md px-3.5 py-2.5 bg-primary hover:bg-primary/90 text-white font-medium" %>
    <% end %>
  </div>

  <div id="grupos" class="divide-y divide-white space-y-5 p-4">
    <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
      <ul class="list bg-base-300 rounded-box w-full p-8">
        <% if @grupos.any? %>
          <% @grupos.each do |grupo| %>
            <div class="overflow-x-auto rounded-box shadow-lg bg-base-100 pt-4 border border-white">
              <table class="table table-zebra w-full text-center border-separate border-spacing-0 border-white pb-8">
                <thead class="border-b border-white">
                  <tr class="text-xs uppercase text-base-content/70">
                    <th>Bandeira</th>
                    <th>Nome</th>
                    <th>Pontos</th>
                    <th>Jogos</th>
                    <th>Vitórias</th>
                    <th>Empates</th>
                    <th>Derrotas</th>
                    <th>Gols feitos</th>
                    <th>Gols sofridos</th>
                    <th>Saldo de gols</th>
                  </tr>
                </thead>
                <tbody>
                  <% grupo.selecoes.ordenadas.each do |selecao| %>
                    <%= link_to selecao_path(selecao), class: "contents" do %>
                      <tr class="hover:bg-primary transition cursor-pointer" data-url="<%= selecao_path(selecao) %>">
                        <td class="py-3">
                          <div class="flex justify-center">
                            <div class="avatar">
                              <div class="mask mask-squircle h-8 w-8">
                                <%= image_tag "selecoes/#{selecao.logo}" %>
                              </div>
                            </div>
                          </div>
                        </td>

                        <td class="font-medium">
                          <%= selecao.nome %>
                        </td>

                        <td class="font-semibold">
                          <%= selecao.pontos %>
                        </td>

                        <td><%= selecao.qtd_jogos %></td>
                        <td><%= selecao.vitorias %></td>
                        <td><%= selecao.empates %></td>
                        <td><%= selecao.derrotas %></td>
                        <td><%= selecao.gols %></td>
                        <td><%= selecao.gols_sofridos %></td>

                        <td class="font-semibold">
                          <%= selecao.gols - selecao.gols_sofridos %>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>

              </table>
              <div class="flex justify-center items-center">
                <%= will_paginate @grupos,
                  renderer: GrupoPaginationRenderer,
                  labels: @grupo_labels,
                  class: 'join gap-4 pb-8',
                  link_options: { class: 'join-item btn btn-sm hover:bg-primary btn-outline' } %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="text-center my-10">Você não possui grupos.</p>
        <% end %>
      </ul>
    </div>
  </div>
</div>
