<div id="<%= dom_id palpite %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= palpite.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Jogo:</strong>
    <%= palpite.jogo_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gols casa:</strong>
    <%= palpite.gols_casa %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gols fora:</strong>
    <%= palpite.gols_fora %>
  </div>
  <% if palpite.vencedor_penaltis_id.present? && palpite.gols_casa.to_i == palpite.gols_fora.to_i %>
    <div>
      <strong class="block font-medium mb-1">Vencedor penaltis:</strong>
      <%= palpite.vencedor_penaltis.nome %>
    </div>
  <% end %>
</div>
