<div id="<%= dom_id palpite %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= palpite.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Jogo:</strong>
    <%= palpite.jogo_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gols casa:</strong>
    <%= palpite.gols_casa %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gols fora:</strong>
    <%= palpite.gols_fora %>
  </div>
</div>
