<% content_for :title, "Detalhes liga" %>

<div class="w-full max-w-6xl mx-auto px-4">
  <h1 class="font-bold text-4xl text-center mb-8 p-4 pb-4 pt-8">
    <%= @liga.nome %>
  </h1>

  <% is_owner = @meu_vinculo&.role == "owner" %>

  <%# MENU DE STATUS DA LIGA %>
  <div class="flex justify-center mb-8 w-full">
    <div class="flex flex-wrap items-center justify-center gap-2 w-full relative">

      <%# TODO MUDAR A COR DE ACORDO COM A QTD DE PARTICIPANTES %>
      <span class="badge bg-primary/70! badge-lg p-4">
        <%= @liga.total_participantes %> / <%= @liga.owner.premium? ? "Ilimitados" : @liga.limite_participantes %>
        participantes
      </span>

      <span class="badge bg-secondary/70! badge-lg p-4">
        Plano <%= @liga.owner.assinatura.plano.capitalize %>
      </span>

      <% if @liga.atingiu_limite_de_participantes? %>
        <span class="badge bg-error/70! badge-lg p-4">
          Limite atingido
        </span>
      <% end %>

      <% if @pode_convidar %>
        <% if !@liga.atingiu_limite_de_participantes? %>
            <button
              type="button"
              class="rounded-md px-4 py-4 bg-success hover:bg-success/80! font-bold text-white flex items-center right-8 absolute"
              onclick="add_member_modal.showModal()">
              Adicionar membro
            </button>
          <% end %>
        <% end %>
    </div>
  </div>

  <%# BANNER FAZER UPGRADE %>
  <% if @liga.atingiu_limite_de_participantes? %>
    <div class="mb-12 relative group">
      <div class="absolute -inset-1 bg-linear-to-r from-orange-600 to-yellow-500 rounded-2xl blur opacity-25 group-hover:opacity-50 transition duration-1000 group-hover:duration-200"></div>
      
      <div class="relative flex flex-col md:flex-row items-center justify-between gap-6 p-4 bg-[#1a2236] border border-white/5 rounded-2xl shadow-xl">
        <div class="flex items-center gap-4 pl-8">
          <div>
            <h3 class="text-white font-bold text-lg">Sua liga está cheia!</h3>
            <p class="text-slate-400 text-sm">Faça o upgrade para adicionar mais amigos e competir em maior escala.</p>
          </div>
        </div>
        
        <button class="btn border-none bg-linear-to-r from-orange-500 to-orange-600 hover:from-orange-600 hover:to-orange-700 text-white px-8 rounded-xl font-bold shadow-lg shadow-orange-500/20">
          Fazer Upgrade Agora
        </button>
      </div>
    </div>
  <% end %>

  <%# MODAL DE GESTÃO DE PENDENCIAS %>
  <dialog id="modal_users_pending" class="modal">
    <div class="modal-box max-w-3xl">
      <h3 class="text-lg font-bold mb-4">
        Gestão de Pendências
      </h3>

      <div role="tablist" class="tabs tabs-bordered">

        <!-- ========================= -->
        <!-- ABA CONVIDADOS -->
        <!-- ========================= -->

        <input type="radio"
              name="tabs_pendencias"
              role="tab"
              class="tab"
              aria-label="Convidados (<%= @membros_pendentes.count %>)"
              checked />

        <div role="tabpanel" class="tab-content p-4 border-base-300 bg-base-100">

          <% if @membros_pendentes.any? %>

            <% @membros_pendentes.each do |liga_membro| %>
              <div class="flex justify-between items-center border-b py-2">

                <div>
                  <p class="font-medium">
                    <%= liga_membro.user.name %>
                  </p>
                  <p class="text-sm text-gray-500">
                    Convidado em
                    <%= liga_membro.created_at.strftime("%d/%m/%Y às %H:%M") %>
                  </p>
                </div>

                <%= button_to remove_member_liga_path(
                        @liga,
                        liga_membro_id: liga_membro.id
                      ),
                      method: :delete,
                      form: {
                        data: {
                          turbo_confirm: "Cancelar este convite?"
                        }
                      },
                      class: "btn btn-error btn-sm" do %>
                  Remover
                <% end %>

              </div>
            <% end %>

          <% else %>
            <p class="text-sm text-gray-500">
              Nenhum convite pendente.
            </p>
          <% end %>

        </div>


        <!-- ========================= -->
        <!-- ABA SOLICITAÇÕES DE EXCLUSÃO -->
        <!-- ========================= -->

        <input type="radio"
              name="tabs_pendencias"
              role="tab"
              class="tab"
              aria-label="Solicitações de Exclusão (<%= @membros_excluir.count %>)" />

        <div role="tabpanel" class="tab-content p-4 border-base-300 bg-base-100">

          <% if @membros_excluir.any? %>

            <% @membros_excluir.each do |liga_membro| %>
              <div class="flex justify-between items-center border-b py-2">

                <div>
                  <p class="font-medium">
                    <%= liga_membro.user.name %>
                  </p>
                  <p class="text-sm text-gray-500">
                    Solicitação feita em
                    <%= liga_membro.updated_at.strftime("%d/%m/%Y às %H:%M") %>
                  </p>
                </div>

                <%= button_to remove_member_liga_path(
                        @liga,
                        liga_membro_id: liga_membro.id
                      ),
                      method: :delete,
                      form: {
                        data: {
                          turbo_confirm: "Confirmar exclusão deste membro?"
                        }
                      },
                      class: "btn btn-error btn-sm" do %>
                  Confirmar Exclusão
                <% end %>

              </div>
            <% end %>

          <% else %>
            <p class="text-sm text-gray-500">
              Nenhuma solicitação de exclusão.
            </p>
          <% end %>

        </div>

      </div>

      <div class="modal-action">
        <form method="dialog">
          <button class="btn">Fechar</button>
        </form>
      </div>

    </div>
  </dialog>

  <%# TABELA COM OS PARTICIPANTES DA LIGA %>
  <% if @membros_ativos.any? %>
    <ul class="list bg-base-100 rounded-box shadow-md w-full p-4 sm:p-8">
      <% @membros_ativos.each_with_index do |liga_membro, i| %>
        <li class="list-row flex flex-col sm:flex-row items-start sm:items-center justify-between hover:bg-base-300/50! p-4 gap-4 border-b last:border-b-0 border-base-200">
          
          <div class="flex items-center gap-4 w-full sm:w-auto">
            <div class="w-10 flex items-center justify-center shrink-0">
              <%= rank_badge(i) %>
            </div>

            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <%= image_tag "selecoes/#{liga_membro.user.logo_selecao}" %>
              </div>
            </div>

            <div class="flex flex-col flex-1">
              <div class="font-medium text-lg flex items-center gap-2">
                <%= liga_membro.user.name %>
                <span class="uppercase text-xs font-bold opacity-80 px-2 py-1 rounded-lg">
                  <%= role_icon(liga_membro.role) %>
                </span>
              </div>
            </div>
          </div>

          <div class="flex items-center justify-between w-full sm:w-auto gap-6 mt-2 sm:mt-0">
            <div class="flex flex-col items-start sm:items-end w-full sm:w-auto">
              <span class="text-[10px] uppercase font-black opacity-40 tracking-widest">Pontuação</span>
              <span class="font-black text-2xl text-primary"><%= liga_membro.total_pontos_ranking || 0 %></span>
            </div>

            <% if liga_membro.role != "owner" %>
              <% is_admin_allowed =
                  @meu_vinculo&.role == "admin" &&
                  liga_membro.status.in?(%w[invited accepted]) %>

              <% if current_user.root? || is_owner || is_admin_allowed %>
                <div class="flex justify-end gap-2 shrink-0">

                  <% if is_owner || current_user.root? %>
                    <% if liga_membro.role == "admin"%>
                      <% img_name="adm_red"%>
                      <% message="Tem certeza que deseja remover o usuário #{liga_membro.user.name} da função de administrador da sua liga?"%>
                    <%else%>
                      <% message="Tem certeza que deseja adicionar o usuário #{liga_membro.user.name} como administrador da sua liga?"%>
                      <% img_name="adm"%>
                    <%end%>
                    <%= button_to set_admin_liga_path(
                          @liga,
                          liga_membro_id: liga_membro.id
                        ),
                        method: :post,
                        form: { data: { turbo_confirm: message } },
                        class: "btn btn-sm btn-ghost hover:scale-110 transition" do %>

                      <div class="avatar">
                        <div class="mask mask-squircle h-5 w-5">
                          <%= image_tag "icons/#{img_name}.png" %>
                        </div>
                      </div>

                    <% end %>
                  <% end %>

                  <% method = is_owner ? :delete : :patch %>
                  <% confirm_message =
                      is_owner ?
                        "Remover este membro da liga?" :
                        "Solicitar exclusão deste membro? O dono da liga precisará aprovar." %>
                  <% if current_user.root? || is_owner || current_user.id != liga_membro.user_id %>
                    <%= button_to remove_member_liga_path(
                          @liga,
                          liga_membro_id: liga_membro.id
                        ),
                        method: method,
                        form: { data: { turbo_confirm: confirm_message } },
                        class: "btn btn-sm btn-ghost hover:scale-110 transition" do %>

                      <div class="avatar">
                        <div class="mask mask-squircle h-5 w-5 invert">
                          <%= image_tag "icons/delete.png" %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>

                </div>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-center text-gray-500 mt-10">
      Nenhum outro membro nesta liga.
    </p>
  <% end %>

  <%# MENU DE AÇÕES %>
  <div class="mt-12 flex flex-wrap justify-center gap-4">
    <%= link_to "Voltar", ligas_path,
      class: "btn btn-ghost text-slate-400 hover:text-white" %>

    <% if @meu_vinculo&.role == "owner" %>
      <% total_pendencias = @membros_pendentes.count + @membros_excluir.count %>
      
      <button class="btn btn-ghost border-slate-700 text-slate-300 hover:bg-slate-800 gap-2 relative" onclick="modal_users_pending.showModal()">
        Gerenciar pendências
        
        <% if total_pendencias > 0 %>
          <span class="badge badge-warning font-bold text-white border-none h-6 min-w-6">
            <%= total_pendencias %>
          </span>
          
          <span class="absolute -top-1 -right-1 flex h-3 w-3">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-warning opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-warning"></span>
          </span>
        <% end %>
      </button>
    <% end %>

    <%# TODO: SAIR DA LIGA / EXCLUIR LIGA %>
    <%= button_to "Sair da liga", quit_liga_path(@liga), method: :delete,
        class: "btn btn-ghost text-error hover:bg-error/10",
        data: { turbo_confirm: "..." } %>
  </div>

  <dialog id="add_member_modal" class="modal">
    <div class="modal-box max-w-md">
      <h3 class="font-bold text-lg text-center mb-4">
        Convidar membro
      </h3>

      <%= form_with url: invite_member_liga_path(@liga), method: :post do |f| %>
        <div class="form-control mb-4">
          <label class="label p-4">
            <span class="label-text font-medium">Email do usuário</span>
          </label>

          <%= f.email_field :email,
            class: "input input-ghost input-bordered w-full",
            placeholder: "email@exemplo.com",
            required: true %>
        </div>

        <div class="modal-action flex justify-between">
          <button
            type="button"
            class="btn btn-ghost bg-error"
            onclick="add_member_modal.close()">
            Cancelar
          </button>

          <%= f.submit "Enviar convite", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </dialog>
  <div
    id="copy-alert"
    class="alert alert-success fixed bottom-4 right-4 shadow-lg hidden w-fit z-50">
    <span>Link copiado com sucesso!</span>
  </div>
  <script>
    function copyInviteLink(link) {
      navigator.clipboard.writeText(link)

      const alert = document.getElementById('copy-alert')

      alert.classList.remove('hidden')

      setTimeout(() => {
        alert.classList.add('hidden')
      }, 2500)
    }
  </script>
</div>
